div {
  padding: 15px;
  position: relative;
}

h2 {
  text-align: center;
}

#my-map {
  width: 100%;
  height: 500px;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}
.tooltip-label {
  font-weight: 500;
  font-size: 10px;
  color: #888;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
}

.color-by {
  grid-row: 1;
}

#my-map {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

#legend {
  grid-row: 2 / span 2;
  /* height: fit-content; */
  height: '300px';
  width: '300px';
}

#timeline {
  grid-row: 3 / span 2;
}

/* Tooltip */
.tooltip circle {
  fill: none;
  stroke: #78bd39;
}
.tooltip text {
  fill: #78bd39;
}


/* Axes */
.axis line {
  fill: none;
  stroke: #8693a0;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 13px;
  fill: #6b6b6b;
}
.axis-title {
  font-size: 13px;
  fill: #888;
}
.x-axis .domain {
  stroke: #8693a0;
}
.y-axis .domain {
  display: none;
}

.brush-bar {
  fill: #a5b3bf;
}
.timeline-bar {
  fill: #517390;
}

#timeline-tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}

.x-axis-label {
  position: absolute; 
  bottom: 10%; 
  left: 50%;
  color: #130109;
  font-size: 18px;
}

.y-axis-label {
  transform: rotate(-90deg); 
  transform-origin: right, top;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin:right, top;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:right, top; 

  position: absolute; 
  bottom: 43%; 
  left: -13%;
  color: #130109;
  font-size: 18px;
}