div {
  padding: 15px;
  position: relative;
}

h2 {
  text-align: center;
}

#my-map {
  width: 100%;
  height: 500px;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}
.tooltip-label {
  font-weight: 500;
  font-size: 10px;
  color: #888;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
}

#color-by {
  grid-row: 1;
}

#my-map {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

#legend {
  grid-row: 2 / span 2;
  /* height: fit-content; */
  height: '300px';
  width: '300px';
}

#legend > svg > g > g > g > text {
  font-size: 32px
}

#timeline {
  width: 2100px;
  height: 900px;
  /* grid-row: 3 / span 2; */
}

/* Tooltip */
.tooltip circle {
  fill: none;
  stroke: #78bd39;
}
.tooltip text {
  fill: #78bd39;
}


/* Axes */
.axis line {
  fill: none;
  stroke: #8693a0;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 13px;
  fill: #6b6b6b;
}
.axis-title {
  font-size: 13px;
  fill: #888;
}
.x-axis .domain {
  stroke: #8693a0;
}
.y-axis .domain {
  display: none;
}

.brush-bar {
  fill: #a5b3bf;
}
.timeline-bar {
  fill: #517390;
}

#timeline-tooltip, #barchart1-tooltip, #barchart2-tooltip, #barchart3-tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
}

.x-axis-label {
  position: relative; 
  bottom: 15%; 
  left: 45%;
  color: #130109;
  font-size: 18px;
}

.y-axis-label {
  transform: rotate(-90deg); 
  transform-origin: right, top;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin:right, top;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:right, top; 

  position: relative; 
  bottom: 75%; 
  right: 550px;
  color: #130109;
  font-size: 18px;
}

.timeline-x-axis-label {
  position: relative; 
  bottom: 15%; 
  left: 50%;
  color: #130109;
  font-size: 18px;

}

.timeline-y-axis-label {
  transform: rotate(-90deg); 
  transform-origin: right, top;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin:right, top;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:right, top; 

  position: relative; 
  bottom: 140%; 
  right: 1050px;
  color: #130109;
  font-size: 18px;
}


.parent {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "map map piechart1"
    "timeline timeline piechart2"
    "barchart1 barchart2 barchart3";
}

.map { grid-area: map; }

.timeline { grid-area: timeline; }

.piechart1 { grid-area: piechart1; }

.piechart2 { grid-area: piechart2; }

.barchart1 { grid-area: barchart1; }

.barchart2 { grid-area: barchart2; }

.barchart3 { grid-area: barchart3; }

.float-child {
  display: inline-block;
}